SoapServices/WSDL/PurchaseOrder.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/PurchaseOrderSchema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/PurchaseOrderSchema.xsd">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/PurchaseOrderSchema.xsd">
      <s:element name="ProcessOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrderType"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseOrderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipTo" type="tns:USAddress"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillTo" type="tns:USAddress"/>
        </s:sequence>
        <s:attribute name="OrderDate" type="s:date"/>
      </s:complexType>
      <s:complexType name="USAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:integer"/>
        </s:sequence>
        <s:attribute name="country" type="s:NMTOKEN"/>
      </s:complexType>
      <s:element name="ProcessOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessOrderResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessOrder"/>
  </wsdl:message>
  <wsdl:message name="ProcessOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessOrderResponse"/>
  </wsdl:message>
  <wsdl:portType name="PurchaseOrderServiceSoap">
    <wsdl:operation name="ProcessOrder">
      <wsdl:input message="tns:ProcessOrderSoapIn"/>
      <wsdl:output message="tns:ProcessOrderSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PurchaseOrderServiceSoap" type="tns:PurchaseOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessOrder">
      <soap:operation soapAction="http://tempuri.org/PurchaseOrderSchema.xsd/ProcessOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchaseOrderServiceSoap12" type="tns:PurchaseOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessOrder">
      <soap12:operation soapAction="http://tempuri.org/PurchaseOrderSchema.xsd/ProcessOrder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>